
.main{
    align-self: center;
    text-align: center;
}

/*!*.table{*!*/
/*!*    align-self: center;*!*/
/*!*    width:1000px;*!*/
/*!*    table-layout: fixed;*!*/
/*!*    margin-top: 20px;*!*/
/*!*    border : 1px solid black;*!*/
/*!*}*!*/

/*div{*/
/*    width:1000px;*/
/*    height: auto;*/
/*}*/

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}

tr, td{
    border: 1px solid purple;
}